**/.idea/
**/.vs/
**/.vscode/

**/*.db
**/target

# .NET specific
**/bin/
**/obj/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
**/*.csproj.user
**/packages/
**/.nuget/
**/artifacts/
**/project.lock.json
**/project.fragment.lock.json
**/Properties/launchSettings.json
**/*.binlog
**/*.publishsettings
**/*.pubxml
**/*.pubxml.user
**/*.nupkg
**/*.snupkg
**/*.pfx
**/*.publishproj
**/*.sln.docstates
**/*.sln.ide/
**/*.dotnet/
**/*.dotnet-install.sh
**/*.dotnet-install.ps1
**/.ionide/
